.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.myCustomDate{
  border:none;
  width:49vh
}

.cards{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center
}
.maincard{
    width: 250px;
    background: #eee;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
}

.user{
  display:flex;
  justify-content: space-between;
}
.btnme{
  margin: 3px;
    margin-top: 20px;
    padding: 3px 10px;
    font-size: small;
    background-color: #212529;
    color: white ;
}
a{
  color:white;
}
button:hover a:hover{
  color:white !important;
  text-decoration:none
}